@import './custom-plugins.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /*
        *
        * This all are the rgb values which are used inside the
        * tailwind config file and custom plugins css file
        *
        */

        --color-blue-10: 247, 251, 254;
        --color-blue-50: 247, 251, 251;
        --color-blue-200: 84, 118, 166;
        --color-blue-100: 238, 244, 249;
        --color-blue-400: 27, 69, 123;
        --blue-cta-900: 0, 41, 90;
        /*
        * primary color
        */
        /* --color-accent: 0, 159, 127; */
        --color-accent: 39, 62, 97;

        /*
        * Hover state color of primary color
        */
        /* --color-accent-hover: 1, 147, 118; */
        --color-accent-hover: 80, 126, 160;

        /*
        * shade of primary color
        */
        --color-accent-300: 153, 217, 204;

        /*
        * shade of primary color
        */
        --color-accent-400: 77, 188, 165;

        /*
        * shade of primary color
        */
        --color-accent-500: 0, 159, 127;

        /*
        * shade of primary color
        */
        --color-accent-600: 0, 143, 114;

        /*
        * shade of primary color
        */
        --color-accent-700: 0, 119, 95;

        /*
        * light color
        */
        --color-light: 255, 255, 255;

        /*
        * dark color
        */
        --color-dark: 0, 0, 0;

        /*
        * Black muted color
        */
        --color-muted-black: 17, 17, 17;

        /*
        *
        * TEXT colors
        *
        */

        /*
        * text color used for body/base text -> gray-500
        */
        --text-base: 107, 114, 128;

        /*
        * dark base text color  -> gray-600
        */
        --text-base-dark: 75, 85, 99;

        /*
        * muted text color -> gray-400
        */
        --text-muted: 156, 163, 175;

        /*
        * light muted text color - gray-300
        */
        --text-muted-light: 209, 213, 219;

        /*
        * text color used for heading text -> gray-700
        */
        --text-sub-heading: 55, 65, 81;

        /*
        * text color used for heading text -> gray-800
        */
        --text-heading: 31, 41, 55;

        /*
        * text color used for heading text -> gray-900
        */
        --text-bolder: 31, 41, 55;

        /*
        *
        * border colors
        *
        */

        /*
        * border color 50
        */
        --color-border-50: 249, 250, 251;

        /*
        * border color 100
        */
        --color-border-100: 243, 244, 246;

        /*
        * border color 200
        */
        --color-border-200: 229, 231, 235;

        /*
        * border base color which is 300
        */
        --color-border-base: 209, 213, 219;

        /*
        * border color 400
        */
        --color-border-400: 156, 163, 175;

        /*
        *
        * Tailwind default gray color override
        *
        */

        /*
        * gray-50
        */
        --color-gray-50: 249, 250, 251;

        /*
        * gray-100
        */
        --color-gray-100: 243, 244, 246;

        /*
        * gray-200
        */
        --color-gray-200: 229, 231, 235;

        /*
        * gray-300
        */
        --color-gray-300: 209, 213, 219;

        /*
        * gray-400
        */
        --color-gray-400: 156, 163, 175;

        /*
        * gray-500
        */
        --color-gray-500: 107, 114, 128;

        /*
        * gray-600
        */
        --color-gray-600: 75, 85, 99;

        /*
        * gray-700
        */
        --color-gray-700: 55, 65, 81;

        /*
        * gray-800
        */
        --color-gray-800: 31, 41, 55;

        /*
        * gray-900
        */
        --color-gray-900: 31, 41, 55;
    }

    a {
        @apply no-underline;
    }
}

.rc-table .rc-table-header {
    box-shadow: 0px 2px 12px rgba(58, 70, 84, 0.12);
    border-radius: 0px 0px 4px 4px;
}
.rc-table thead.rc-table-thead th {
    background-color: #fff !important;
}

.rc-table thead.rc-table-thead .header-title th {
    color: #273e61;
    white-space: normal;
    font-size: 14px;
}

.rc-table tr.rc-table-row {
    background-color: #fff !important;
}

.rc-table tbody > tr td {
    background-color: #fff !important;
    color: #273e61;
}

.rc-table.general-table th.rc-table-cell {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.rc-table.rc-table-tbody tr {
    border-bottom: 1px solid #d5dee4;
}
.rc-table .rc-table-sticky-holder {
    top: 4.5rem !important;
}

.accordion {
    scrollbar-width: thin;
    scrollbar-color: #fff;
}

.accordion::-webkit-scrollbar {
    width: 10px;
}

.accordion::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.accordion::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 3px solid #fff;
    height: 180px;
}

.accordion-content {
    scrollbar-width: thin;
    scrollbar-color: #6b96b5;
}

.accordion-content::-webkit-scrollbar {
    width: 6px;
}

.accordion-content::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.accordion-content::-webkit-scrollbar-thumb {
    background-color: #6b96b5;
    border-radius: 20px;
    border: 2px solid #6b96b5;
    height: 120px;
}
.time-picker .react-datepicker-wrapper {
    width: 36%;
}

.MuiStepContent-root {
    border-left: 0 !important;
}

.MuiStepConnector-line {
    border: none !important;
}

.manual-event-capture textarea,
.manual-event-capture input {
    color: #00467f;
}

.manual-event-capture .placeholder-color {
    color: #00467f80;
}

.manual-event-capture .missed_border {
    border: 0.1px solid #e9e9e9;
    margin: 15px 0px;
}

.login-page {
    background: url('/login-bg.png');
    background-size: cover;
    background-attachment: scroll;
}
.frame-section {
    min-width: 350px;
    max-width: 400px;
}

@media screen and (max-width: 640px) {
    .login-page {
        flex-direction: column;
    }
    .logo-section {
        padding: 20px 0px;
        align-items: flex-end;
    }
    .form-section {
        align-items: flex-start;
    }
}
@media screen and (max-width: 640px) and (max-height: 624px) {
    .login-page {
        height: auto;
    }
}
@media screen and (min-width: 640px) and (max-height: 480px) {
    .login-page {
        height: auto;
    }
}
.success-email-link {
    color: green;
    font-size: 14px;
    margin-bottom: 5px;
}
.success-login-page {
    color: green;
    font-size: 14px;
    margin: 20px 0 0 0;
}
.scheduled.matrix th.rc-table-cell.rc-table-cell-scrollbar {
    display: none;
}

.dashboard-card-sidebar {
    height: 100%;
    width: 13px;
    background: #054277;
}
.schedule-matric-datepicker .react-datepicker-wrapper {
    border: 1px solid;
}
.schedule-matric-datepicker .react-datepicker__input-container::after {
    display: none;
}

.manual-event-datepicker .react-datepicker-wrapper {
    border: 1px solid;
    display: flex;
}
.manual-event-datepicker .react-datepicker__input-container::after {
    display: none;
}
.manual-event-datepicker textarea::placeholder {
    color: rgb(118 153 193);
}
.manual-event-datepicker input::-webkit-inner-spin-button,
.manual-event-datepicker input::-webkit-outer-spin-button {
    display: none;
}
.notificationAnalyticsTable .rc-table-body,
.slots-table .rc-table-body {
    overflow: unset !important;
}
.slots-table .rc-table-content {
    overflow: unset !important;
}
.vendor-table .rc-table-body {
    overflow: unset !important;
}
.vendor-table .rc-table-content {
    overflow: unset !important;
}
/* .slot-date-picker input::-webkit-inner-spin-button,
.slot-date-picker input::-webkit-outer-spin-button {
    display: none;
} */
html {
    overflow-y: scroll;
}
